<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusiCar2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1ABBE7F1C31D3AA00105545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1ABBE931C31D3AB00105545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1ABBE9E1C31D3AB00105545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
